.vs
release
debug
output
obj
bin
/lib/
/test/
*.suo
local-*
*.psess
*.vspx
install
install.zip
install_7z_sfx.exe
*install_7z_sfx
logs
*.fdb
!Cf.Orlan.Service.Core/Cf.Orlan.Service.HardwareMonitor/bin
packages
bower_components
!packages/repositories.config
nunit-result.xml
Cf.Orlan.RecarCore/Cf.Orlan.RecarCore.3.2.1/depends/recar2.models.dll
